*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

.header .heading
{
    text-align: center;
    margin-top: 1.5rem;
    color: rgb(160, 134, 118);
    font-size: 27px;
}

.header .description
{
    text-align: center;
    font-size: 13.2px;
    margin-top: 1rem;
}

.content
{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
    background: rgb(235, 233, 233);
    width:100%;
    background: rgba(187, 186, 186, 0.511);
    padding: 2rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.content .bag1
{
    width: 25rem;
    height: 18rem;
    margin-right: 4rem;
}

.content .heading2
{
    font-weight: 100;
}

.content .heading2 .color
{
    color:rgb(219, 121, 73); ;
}

.content .heading2 .description2
{
    margin-top: 1.3rem;
    font-size: small;
}


.content .heading2 .more
{
    font-size: small;
    color: black;
}

.content2
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.content2 .bag2
{
    width: 56rem;
    height: 16rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 480px) {
    .header
    {
        padding: .2rem;
    }

    .header .heading {
        font-size: 11px;
    }

    .header .description {
        font-size: 11px;
    }

    .content {
        flex-direction: column;
        width: 100%;
    }

    .content .bag1 {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .content .heading2 {
        text-align: center; 
        margin-top: 3rem;
    }

    .content2 .bag2 {
        width: 90%; 
        height: auto;
    }
}

@media screen and (max-width: 768px) {

    .header .heading {
        font-size: 22px;
    }

    .content
    {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        margin-top: 3rem;
    }

    .content .heading2
    {
        margin-top: 2rem;
        text-align: center;
    }

    .header .heading2 .description2 {
        font-size: 13px;
        text-align: center;
    }

    .content .bag1 {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    
    .content2
    {
        margin-top: 2rem;
    }

    .content2 .bag2 {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .header .heading {
        font-size: 26px;
        margin-top: 1.5rem;
    }

    .header .description
    {
        font-size: 13px;
        margin-top: 1rem;
    }

    .content {
        padding: 3rem;
        margin-top: 2rem;
        flex-direction: column;
    }

    .content .bag1 {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }

    .content .heading2
    {
        font-size: 28px;
        text-align: center;
        margin-top: 3rem;
    }

    .content .heading2 .description2
    {
        font-size: 15px;
    }

    .content2 .bag2 {
        width: 70%;
        height: auto;
        margin-top: 1.6rem;
    }
}

@media screen and (min-width: 1025px) {
    .header .heading {
        font-size: 27px;
    }

    .content .bag1 {
        width: 25rem;
        height: 18rem;
    }

    .content2 .bag2 {
        width: 56rem;
        height: 16rem;
    }
}

@media screen and (max-width: 855px) {

    .header .heading
    {
        margin-top:2.5rem;
    }

    .content {
        padding: 2rem;
        flex-direction: column;
        margin-top: 3.5rem;
    }

    .content .bag1 {
        width: 85%; 
        height: auto;
        margin: 0 auto;
        padding-top: 1.5rem;
    }

    .content .heading2 {
        text-align: center;
        margin-top: 2.5rem;
        font-size: 28px;
    }

    .content .heading2 .description2
    {
        margin-top: 2rem;
    }

    .content2 .bag2 {
        width: 90%; 
        height: auto;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 912px) {
    .content {
        padding: 2rem;
        flex-direction: column
    }

    .content .bag1 {
        width: 85%; 
        height: auto;
        margin: 0 auto;
        padding-top: 1.5rem;
    }

    .content .heading2
    {
        margin-top: 2rem;
        text-align: center;
        font-size: 28px;
    }

    .content .heading2 .description2
    {
        margin-top: 2rem;
        font-size: 15px;
        text-align: center;
    }

    .content .heading2 .more
    {
        font-size: 19px;
    }

    .content2 .bag2 {
        width: 80%;
        height: auto;
        margin-top: 1.5rem;
    }
}
